In [3]:
import pandas as pd

In [7]:
data=pd.Series([1,2,3,4], index=['a','b','c','d'])

In [14]:
data

a    1
b    2
c    3
d    4
dtype: int64

In [16]:
df=pd.DataFrame({'A':[1,2],'B':[3,4]})

In [22]:
df

   A  B
0  1  3
1  2  4

In [25]:
df1=pd.DataFrame({'C':[5,6],'D':[7,8]})

In [26]:
df1

   C  D
0  5  7
1  6  8

In [31]:
newdf=pd.concat([df,df1], axis=1)

In [32]:
newdf

   A  B  C  D
0  1  3  5  7
1  2  4  6  8

In [33]:
newdf=pd.concat([df,df1], axis=0)

In [34]:
newdf

     A    B    C    D
0  1.0  3.0  NaN  NaN
1  2.0  4.0  NaN  NaN
0  NaN  NaN  5.0  7.0
1  NaN  NaN  6.0  8.0

In [39]:
print(data.head(30))

a    1
b    2
c    3
d    4
dtype: int64

In [40]:
print(data.tail(1))

d    4
dtype: int64

In [41]:
print(data.head(-2))

a    1
b    2
dtype: int64

In [42]:
print(data.iloc[0])

1

In [3]:
data.to_excel('transformeddata.xlsx')

NameError: name 'data' is not defined